name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Buildozer
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install buildozer cython
      - name: Build APK
        run: |
          buildozer init
          # Ayarları otomatik yapıyoruz:
          sed -i 's/requirements = python3,kivy/requirements = python3,kivy==2.3.0,kivymd==1.1.1,supabase,postgrest,requests,httpx,urllib3/g' buildozer.spec
          sed -i 's/#android.permissions = INTERNET/android.permissions = INTERNET,WRITE_EXTERNAL_STORAGE/g' buildozer.spec
          sed -i 's/android.archs = armeabi-v7a/android.archs = arm64-v8a/g' buildozer.spec
          buildozer -v android debug
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: vibe-app-dosyasi
          path: bin/*.apk
